# Server config
PORT=3000
NODE_ENV=development
LOG_LEVEL=info

# Database config
DATABASE_URL=

# Neon Local config (development only)
NEON_LOCAL=
NEON_LOCAL_HOST=db

# Neon API credentials (required for Neon Local proxy)
NEON_API_KEY=
NEON_PROJECT_ID=
PARENT_BRANCH_ID=

# App secrets
ARCJET_KEY=
JWT_SECRET=